[Unit]
Description=rusbmux usbmuxd-compatible daemon
Documentation=https://github.com/abdullah-albanna/rusbmux
After=network.target systemd-udev-trigger.service
Conflicts=usbmuxd.service

[Service]
Type=simple
ExecStart=/usr/bin/rusbmux
Restart=on-failure
RestartSec=2s
StateDirectory=lockdown

[Install]
WantedBy=multi-user.target
